#three {
    position: relative;
    top: 20px;
    left: 20px;
    background: rgb(186, 57, 122);
  }
  #four {
    position: relative;
    top: 20px;
    left: 20px;
    background: rgb(174, 83, 220);
  }
